{% extends 'base.html' %}

{% block page_title %}
    Delete Artikel
{% endblock page_title %}

{% block contents %}
    <h1>Delete Artikel</h1>
    <p><b>Apakan benar anda ingin menghapus artikel berikut</b></p>
    <h3>{{artikel.judul}}</h3>
    <h6>{{artikel.published|date}}</h6>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary">Ya</button>
        <a class="btn btn-outline-danger" href="{% url 'artikel:manage' %}">Tidak</a>
    </form>
{% endblock contents %}
    
    